body {
  background: url('bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Bungee Shade', cursive;
}

h1{
  color: white;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  color: white;
  font-size: 17.5px;
  margin-top: 0;
}

a {
  color: #D4A190;
}

.bio {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.me {
  height: 150px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  margin-top: 40px;
}

.about {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.grey {
  height: 3px;
  background-color: #807E7E;
  border: none;
  width: 230px;
}
